version: '3.8'
services:
  BuddyBoardApp:
    build:
      context: .
      dockerfile: Dockerfile.app
    image: buddyboard-app:dev
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/usr/src/app:rw
      - node_modules:/usr/src/app/node_modules
    command: npm start

volumes:
  node_modules:
    name: buddyboard_node_modules
